@import 'assets/mixins.scss';

.wrapper {
  height: var(--header-height);
}

.bar--scrolled {
  box-shadow: 0 3px 14px hsla(0, 0%, 0%, 0.1);
}

.bar {
  background-color: var(--color-bg-body);
  height: var(--header-height);
  left: 0;
  position: fixed;
  transition: var(--transition-slow);
  width: 100%;
  z-index: 100;

  .bar-inner {
    align-items: baseline;
    display: flex;
    height: 100%;
    padding-right: calc(var(--header-height) - 1rem);

    @include medium {
      padding-right: 0;
    }
  }
}

.logo {
  display: inline-block;
  font-weight: 600;
}

.logo-header,
.breadcrumb {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.4rem 0.2rem 0.5rem;
  position: relative;
}

.breadcrumb {
  @include medium {
    display: none;
  }
}

.right {
  margin-left: auto;
}

.menu {
  display: none;
  margin-left: 3rem;

  @include medium {
    display: block;
  }

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-flex;
    padding: 0.5rem 0.7rem 0;
    position: relative;
    transition: var(--transition-slow);

    &:hover {
      text-decoration: none;

      &::after {
        transform: translateX(-50%) scale(1.5, 1);
      }
    }

    &::after {
      background-color: var(--color-primary);
      bottom: 0;
      content: '';
      height: 1px;
      left: 50%;
      opacity: 0;
      position: absolute;
      transform: translateX(-50%);
      transition: var(--transition-slow);
      width: 20px;
    }
  }

  a:hover,
  .link--active {
    &::after {
      opacity: 1;
    }
  }
}

.NightModeSwitch {
  height: calc(var(--header-height) - 0.5rem);
  position: relative;
  top: 0.25rem;
  width: calc(var(--header-height) - 0.5rem);
}
