@import 'assets/mixins.scss';

.button {
  align-items: center;
  display: inline-flex;
  font-size: 1.3rem;
  justify-content: center;
  transition: var(--transition-slow);

  &:hover {
    color: var(--color-primary);
  }
}
