@import 'assets/mixins.scss';

.wrapper {
  @include medium {
    display: none;
  }
}
.navigation {
  background-color: var(--color-bg-body);
  border: 0.5rem solid var(--color-primary);
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: 0.55s cubic-bezier(0.52, 0.01, 0.16, 1);
  width: 100%;
  z-index: 110;

  &.navigation--active {
    opacity: 1;
    pointer-events: auto;
  }
}

.menu {
  grid-template-rows: 3fr 1fr auto;
  height: 100%;
  text-align: center;
  width: 100%;
}

.menu-main {
  margin-bottom: 2em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    display: block;
    font-family: var(--font-family-heading);
    font-size: clamp(2rem, 7vw, 3rem);
    font-weight: 700;
    padding: 0.5em 1em;
    text-decoration: none;

    &:hover {
      color: var(--color-fg);
    }
  }
}

.social {
  a {
    color: inherit;
    display: flex;
    padding: 0.5em;
    transition: var(--transition-slow);

    &:hover {
      color: var(--color-primary);
    }
  }
}

.hamburger {
  height: calc(var(--header-height) - 1rem);
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  transition: opacity 0.32s 0.4s;
  width: calc(var(--header-height) - 1rem);
  z-index: 300;

  &::before,
  &::after {
    background-color: currentColor;
    content: '';
    height: 2px;
    left: 20%;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    transition: 0.29s cubic-bezier(0.52, 0.01, 0.16, 1);
    width: 60%;
  }

  &::before {
    transform: rotate(0deg) translateY(-5px);
  }

  &::after {
    transform: rotate(0deg) translateY(5px);
  }

  &.hamburger--active {
    &::before {
      transform: rotate(45deg) translateY(0);
    }
    &::after {
      transform: rotate(-45deg) translateY(0);
    }
    &::before,
    &::after {
      background-color: currentColor;
    }
  }
}
