.Wrapper {
  min-height: 320px;
  padding-top: 50px;
}

.Backdrop {
  align-items: flex-end;
  background-color: var(--color-bg-body);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding-bottom: 1.5rem;
  pointer-events: none;
  position: fixed;
  top: 0;
  transition: 700ms;
  width: 100%;
  z-index: 1000;

  small {
    animation: appear 400ms 3s forwards;
    opacity: 0;
  }
}

.Backdrop--visible {
  opacity: 1;
  pointer-events: auto;
}

.Heading {
  color: var(--color-primary);
  font-weight: normal;
  position: relative;

  button {
    color: var(--color-fg);
    font-size: 1.2rem;
    opacity: 0.4;
  }
}

.Heading--with-backdrop {
  z-index: 1001;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
