@import './mixins.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap|IBM+Plex+Sans&display=swap');

html {
  --font-family: 'IBM Plex Sans', sans-serif;
  --font-family-heading: 'Poppins', sans-serif;
  --easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --color-bg-body: hsl(0, 0%, 98%);
  --color-bg-body-2: #e9e5fa;
  --color-bg: white;
  --color-fg: #333;
  --color-border: #ccc;
  --color-bg-muted: #ececec;
  --color-primary: hsl(329, 100%, 50%);
  --transition-slow: 300ms ease-in-out;
  --box-shadow-primary: rgb(255 0 131 / 25%);
  --filter-brightness: brightness(1);
  --header-height: 62px;

  font-display: optional;
  font-family: var(--font-family);
  font-size: 16px;
  font-size: clamp(1rem, 2vw, 1.1rem);
  font-weight: 400;
  line-height: 1.5;

  &.theme--night {
    --color-bg-body: #1b242e;
    --color-bg-body-2: #1c1635;
    --color-bg: #0a1017;
    --color-bg-muted: #0a1017;
    --color-fg: #ddd;
    --color-border: #363636;
    --filter-brightness: brightness(0.8);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-bg-body);
  color: var(--color-fg);
  transition: var(--transition-slow);
  background-image: linear-gradient(
    to bottom,
    var(--color-bg-body) var(--header-height),
    var(--color-bg-body-2)
  );
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-weight: 700;
}

h1 {
  margin-top: 0.2em;
  font-size: clamp(1.8rem, 5vw, 3rem);
}

h2 {
  font-size: clamp(1.2rem, 2.5vw, 2.4rem);
}

h3 {
  font-size: clamp(1.1rem, 2vw, 2rem);
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

:focus {
  box-shadow: 0 0 0 0.2rem var(--box-shadow-primary);
  outline: none;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: 600;
}

img {
  display: block;
}

img,
video {
  max-width: 100%;
}

svg {
  line-height: 1;
}

button {
  cursor: pointer;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  padding: 0 3vw;

  @include small {
    padding: 0 20px;
  }
}

.nowrap {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.lead {
  font-size: 1.4rem;
}

.icon {
  font-size: 1.5rem;
}

.text-muted {
  opacity: 0.7;
}

.text-fg {
  color: var(--color-fg);
}

.small {
  font-size: smaller;
}

.rounded {
  border-radius: 50%;
  overflow: hidden;
}

// Visually hidden, but accessible for screen readers
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Helpers
.button-reset {
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  line-height: inherit;
  margin: 0;
  max-width: 100%;
  overflow: visible;
  padding: 0;
  text-align: inherit;
  text-rendering: inherit;
  vertical-align: inherit;
}

// Utilities: Display & Flex
.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

// Utilities: Spacers
.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}
