@import './mixins.scss';

.markdown {
  h2 {
    margin-top: 2em;
  }

  li {
    margin-bottom: 0.5em;
  }

  img,
  iframe {
    margin-bottom: 15px;
    max-width: 100%;

    @include small {
      margin-bottom: 30px;
    }
  }

  img {
    max-height: 400px;

    @include small {
      max-height: 500px;
    }

    @media (min-height: 1000px) {
      max-height: 900px;
    }
  }
}
