$breakpointMini: 400px;
$breakpointSmall: 600px;
$breakpointMedium: 900px;

@mixin mini {
  @media screen and (min-width: $breakpointMini) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: $breakpointSmall) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: $breakpointMedium) {
    @content;
  }
}
