@import 'assets/mixins.scss';

.Index {
  padding-top: 3rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .PostList {
    display: grid;
    grid-gap: 3vw;
    grid-template-columns: 1fr;

    @include mini {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include small {
      grid-gap: 15px;
      grid-template-columns: repeat(3, minmax(150px, 33.3%));
    }
  }

  .PostList-post {
    background-color: var(--color-bg);
    border: 1px solid var(--color-border);
    color: var(--color-fg);
    display: block;
    margin: 1px;
    overflow: hidden;
    text-decoration: none;
    transition: var(--transition-slow);

    &:hover,
    &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 3px 14px hsla(0, 0%, 0%, 0.15);

      .Title {
        color: var(--color-primary);
      }

      .Image img {
        filter: brightness(1);
      }
    }
  }

  .Image {
    overflow: hidden;
    padding-bottom: 60%;
    position: relative;

    @include mini {
      padding-bottom: 75%;
    }

    img {
      background-color: white;
      display: block;
      filter: var(--filter-brightness);
      height: 100%;
      left: 0;
      object-fit: cover;
      position: absolute;
      top: 0;
      transition: var(--transition-slow);
      width: 100%;
    }
  }

  .Meta {
    box-shadow: 0 -8px 12px #00000014;
    padding: 10px 12px;
    position: relative;
  }

  .Description {
    display: grid;
    font-size: 0.8em;
    grid-gap: 10px;
    grid-template-columns: 1fr min-content;
    opacity: 0.7;
  }

  .Title {
    transition: var(--transition-slow);
  }

  .Tag {
    display: inline;
    margin-right: 5px;

    &::before {
      content: '#';
    }
  }
}
