.TagList {
  padding-bottom: 1em;
}

.TagList-more {
  font-size: small;
  text-decoration: underline;

  &:hover {
    color: var(--color-primary);
  }
}

.TagList-tag {
  align-items: center;
  background-color: var(--color-bg-muted);
  border: 1px solid var(--color-bg-muted);
  border-radius: 30px;
  display: inline-flex;
  font-size: small;
  overflow: hidden;
  transition: var(--transition-slow);
}

.TagList-tag:hover,
.TagList-tag--active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}
